body{
    background-color: rgb(21, 20, 20) !important;
}
ul {
    padding: 0;
}
.btn__main {
    width: 160px;
    height: 42px;
    border-radius: 30px !important;
    color: #000 !important;
    background-image: linear-gradient(to left, #b72126, #eea326);
    padding: 8px;
    border: none;
    outline: none;
    font-weight: bold !important;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .hide-on-mobile {
        display: none !important;
    }
     .copyright {
        flex-direction: column;
    }
    .copyright-text {
        font-size: 12px;
        padding-top: 10px;
    }
    .dropdown-menu__user {
        position: unset !important;
    }
}