.ant-picker-content td{
    height: 30px;
}

.book__datapicker input {
    color: #fff !important;
}

.btn__book-submit{
    background: orange;
    padding: 0 14px;
    border-radius: 9px;
    margin-right: 8px;
    font-size: 18px;
}

.select-chinhanh .ant-select-selector{
    background-color: rgb(0, 0, 0) !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    color: rgb(193, 208, 209)
}
.form-checkout .ant-form-item-required{
    width: 10px;
}