.btn__trailer{
    font-weight: bold ;
    background: transparent !important;
    color: #eea326 !important;
    border: 1px solid #eea326!important;
    margin-left: 30px;
}
.btn__trailer:hover{
    color: #000 !important;
    background-image: linear-gradient(to left, #b72126, #eea326) !important;
    border: none !important;
}
.btn__book:hover{
    background-image: none;
    border: 1px solid #e79a23;
    color: #e79a23 !important;
}

.table_ct,
td {
    font-size: 0.9em;
    line-height: 1.3 !important;
    border: solid 1px #5d5d5d;
    vertical-align: middle;
    padding: 0 15px;
    height: 80px;
}
.entry {
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #5d5d5d;
}
.time-btn {
    width: 85px;
    font-size: 0.82em;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #eea326;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 33px;
    margin: 5px;
}
caption,
th,
td {
    font-weight: inherit;
    text-align: left;
}